{if $basket_notify}
{foreach from=$basket_notify item=item}
<div class="alert alert-info">
    <p class="basket-item inbasket-item"><b>Извините</b><br>
    В данный момент выбранного товара нет в достаточном количестве:</p>
    <b>{getobjcontent oid=$item.oid field='name'} ({$item.count} {numeral number=$item.count ends=$item.units|default:'шт.,шт.,шт.'})</b>
</div>
{/foreach}
{/if}

{if sizeof($basketdata)}
<div class="row">
	<div class="col-md-9">
		<table class="table table-striped basketdata">
		<thead>
		  <tr>
		    <th></th>
		    <th></th>
		    <th>Товар</th>
		    <th>Цена</th>
		    <th nowrap="nowrap" colspan="3" class="text-center">Кол-во</th>
		    <th>Всего</th>
		  </tr>
		</thead>
		<tbody>

		{foreach from=$basketdata item=item}
		{include file="$TMPL_FOLDER/mod/basket/basket-item.html"}
		{/foreach}
		
		</tbody>
		</table>
	</div>
	<div class="col-md-3" id="sticky_cart_total">
		<table class="table table-striped">
			<thead>
			  <tr>
			    <th colspan="2" class="text-right">Сумма заказа</th>
			  </tr>
			</thead>
			<tbody>
			{if $oldtotal neq $total}
			<tr>
				<td><span id="basketCount">{$count}</span> шт.</td>
				<td class="text-right"><span id="basketOldTotal">{$oldtotal|price:false}</span> {numeral number=$oldtotal|price:false ends=$GLOBS.currency.name}</td>
			</tr>
			{/if}
			{if $totalweight}
			<tr>
				<td>Вес</td>
				<td class="text-right"><span id="totalWeight">{$totalweight}</span>  {numeral number=$totalweight|price:false ends='грамм,грамма,грамм'}</small></td>
			</tr>
			{/if}

            {if $points}
            <tr>
                <td>Бонусные баллы</td>
                <td class="text-right">{$points} {numeral number=$points ends="балл, балла, баллов"}</td>
            </tr>
            {/if}

			{if $basketdiscount.human}
			<tr>
				<td>Скидка</td>
				<td class="text-right"><span id="basketDiscount" class="label label-success">{$basketdiscount.human}</span></td>
			</tr>
			{/if}
			{if sizeof($delivery) eq 1}
				{foreach from=$delivery item=item}
				<tr>
					<td>Доставка</td>
					<td class="text-right">{$item.price|price:false} {numeral number=$item.price|price:false ends=$GLOBS.currency.name}</td>
				</tr>
				{/foreach}
			{/if}
			<tr>
				<td>{if $oldtotal eq  $total}<span id="basketCount">{$count}</span> шт.{/if}</td>
				<td class="text-right"><b><span id="basketTotal">{$total|price:false}</span> {numeral number=$total|price:false ends=$GLOBS.currency.name}</b></td>
			</tr>
			</tbody>
		</table>
		{if $GLOBS.merchants.points && $GLOBS.userdata.points}
        <div class="alert alert-success">
            Вы можете использовать {$GLOBS.userdata.points|default:'нет'} бонусных {numeral ends='балл,балла,баллов' number=$GLOBS.userdata.points}.
            {if $GLOBS.merchants.points.max && $total*$GLOBS.merchants.points.max/100<$GLOBS.userdata.points}Максимальная сумма списания {$GLOBS.merchants.points.max}% от стоимости заказа ({($total*($GLOBS.merchants.points.max/100))|price}).{/if}

            <form action="/basket/" method="post" class="controls">
                <div class="input-group">
                    <input type="text" class="form-control" id="inputPoints" name="points" autocomplete=off value="" placeholder="Количество баллов">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-coupon">Списать</button>
                    </span>
                </div>
            </form>
        </div>
		{/if}

		{if $coupon}
		{if !$coupon.statuses.date}<p class="alert alert-warning">Ошибочная дата использования купона.</p>{/if}
		{if !$coupon.statuses.price}<p class="alert alert-warning">Сумма заказа не подходит.</p>{/if}
		{if !$coupon.statuses.count}<p class="alert alert-warning">Количество товаров слишком мало.</p>{/if}
		{if !$coupon.statuses.used}<p class="alert alert-warning">Купон уже использовали максимальное количество раз.</p>{/if}
		{if !$coupon.statuses.self_used}<p class="alert alert-warning">Вы активировали купон ранее.</p>{/if}
		{if !$coupon.statuses.fake}<p class="alert alert-warning">Купона с таким кодом не существует.</p>{/if}
		{/if}
		
		{if !$coupon.coupon_id && $coupons_enable}
		<form action="/basket/" method="post" class="controls">
		<div class="input-group">
			<input type="text" class="form-control" id="inputCoupon" name="coupon" autocomplete=off value="" placeholder="Ввести промо-код">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-coupon">Применить</button>
			</span>
		</div>
		</form>
		{/if}

		{if $coupon.coupon_id}
		<div class="alert alert-success">
			Вы активировали <b>{$coupon.name}</b> на <b>{$coupon.human}</b><br />
			{if $coupon.count_from || $coupon.count_to || $coupon.price_from || $coupon.price_to}
			При покупке
			{if $coupon.count_from} <u>от {$coupon.count_from} {numeral number=$coupon.count_from ends="вещи, вещей, вещей"}</u>{/if}
			{if $coupon.count_to} до {$coupon.count_to} {numeral number=$coupon.count_from ends="вещи, вещей, вещей"}{/if}
			{if $coupon.price_from || $coupon.price_to} на общую сумму {/if}
			{if $coupon.price_from} <u>от {$coupon.price_from} {numeral number=$coupon.price_from|price:false ends=$GLOBS.currency.name}</u>{/if}
			{if $coupon.price_to} до {$coupon.price_to} {numeral number=$coupon.price_to|price:false ends=$GLOBS.currency.name}{/if}.{/if} Время действия до {$coupon.date_to|date_format:"%d %B"}.
			<p align="center"><a href="?coupon_destroy" class="btn btn-coupon controls" data-action="coupon">Отключить</a></p>
		</div>
		{/if}
	</div>
</div>

{if $mintotal}
<div class="well mintotal {if $mintotal <= $oldtotal}hide{/if}">
	<h4 align="center">Минимальная сумма заказа {$mintotal|price}</h4>
</div>
{/if}
{else}
<p align="center">У вас нет отложенных в корзину товаров.</p>
{/if}