<section class="basket-content">
{if $basket_notify}
{foreach from=$basket_notify item=item}
<div class="alert alert-info">
    <p class="basket-item inbasket-item"><b>Извините</b><br>
    В данный момент выбранного товара нет в достаточном количестве:</p>
    <b>{getobjcontent oid=$item.oid field='name'} ({$item.count} {numeral number=$item.count ends=$item.units|default:'шт.,шт.,шт.'})</b>
</div>
{/foreach}
{/if}
<script>var eShopPostIndex = '{$postindex}';</script>			
{if sizeof($basketdata)>0}
<table class="table table-striped">
<thead><tr><th colspan="2">Название</th><th>Цена</th><th nowrap="nowrap">Кол-во</th><th>Итого</th></tr></thead>
<tbody>
{foreach from=$basketdata item=item}
  <tr id="product{$item.oid}" class="basket-item inbasket-item" data-oid="{$item.real_oid}" data-category="{$item.parent_oid}" data-name="{$item.content.name|escape}" data-brand="{$item.content.vendor|escape}">
	<td>
		<a class="thumbnail" href="{$item.vlink}"><img src="/{image src=$item.basket_image.path width=160 folder=".160"}" alt="{$item.basket_image.name}" width="80"></a>
	</td>
    <td>
	    <a href="{$item.vlink}">{$item.content.name}</a>{if $item.content.discount} <sup class="label label-success">{$item.content.discount.human}</sup>{/if}
	    {if $item.content.weight}<br>Вес: <span class="weight">{$item.content.weight} {numeral number=$item.content.weight|price:false ends='грамм,грамма,грамм'}</span>{/if}
	    {if sizeof($item.params_content)>0}
	    <small style="font-size:11px;line-height:10px;">
	    {foreach from=$item.params_content item=param}<br /> &mdash; {$param.runame}: {$param.name} {if $param.price} - <b>{$param.price}{$GLOBS.currency.shortname}</b>{/if}{/foreach}
		</small>
	    {/if}
    </td>
	<td nowrap="nowrap">
		<span class="price">{$item.price|price:false}</span>{$GLOBS.currency.shortname}
	</td>

	<td nowrap="nowrap">
		<span class="count">{$item.count} {numeral number=$item.count ends=$item.content.units|default:'шт.,шт.,шт.'}</span>
	</td>
	<td nowrap="nowrap">
		<span class="total">{$item.total|price:false}</span>{$GLOBS.currency.shortname}
	</td>
  </tr>
{/foreach}
</tbody>
</table>
</section>
<p align="right" class="order-total">
	{if $oldtotal neq  $total}<small>Сумма без скидки: <span id="basketOldTotal">{$oldtotal|price:false}</span> {numeral number=$oldtotal|price:false ends=$GLOBS.currency.name}</small><br />{/if}
	{if $basketdiscount}<small class="label label-success">Ваша скидка: <span id="basketDiscount">{$basketdiscount.human}</span></small><br />{/if}
	<span id="basketCount">{$count}</span> шт. на сумму: <b><span id="basketTotal">{$total|price:false}</span> {numeral number=$total|price:false ends=$GLOBS.currency.name}</b><br />
	{if $totalweight}<small>Вес заказа: <span id="totalWeight">{$totalweight}</span>  {numeral number=$totalweight|price:false ends='грамм,грамма,грамм'}</small><br />{/if}
</p>

<hr />
<form class="order-form form-horizontal" role="form" action="/basket/?action=order" method="post">
	<input name="orderflag" type="hidden" value="1" />
	<fieldset>
	{assign var='fieldscount' value=sizeof($orderfields)}
	{foreach from=$orderfields item=item name=fieldscounter}

	{if $item.htmltype eq 'hidden'}
	{if $smarty.cookies[$item.name]}<input type="hidden" id="hidden{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$smarty.cookies[$item.name]}" />{else}<input type="hidden" id="hidden{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']}" />{/if}
	{/if}

	{if $item.necessary eq 'true'}
	{if $item.editable eq 'true'}
		{if $item.htmltype eq 'datefield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				{assign var=datepicker value=1}
				<input class="form-control"
						type="text" class="datefield" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}" placeholder="{$item.description}" data-date-format="dd.mm.yyyy" data-date="01.01.2014" />
				{if $order_fields[$item.name]['error']}<p class="help-block">Обязательно для заполнения</p>{/if}
			</div>
		</div>
		{/if}
			
		{if $item.htmltype eq 'textfield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}" placeholder="{$item.description}">
				{if $order_fields[$item.name]['error']}<p class="help-block">Обязательно для заполнения</p>{/if}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'adresfield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}" placeholder="{$item.description}">
				{if $order_fields[$item.name]['error']}<span class="help-inline">Обязательно для заполнения</span>{/if}
				<link href="/media0/css/suggestions.css" type="text/css" rel="stylesheet" />
				<script type="text/javascript">
				    $("#{$item.htmltype}{$item.name|capitalize}").suggestions({
				        serviceUrl: "https://dadata.ru/api/v2",
				        type: "ADDRESS",
				        token: "b94c274fc11fbd3fa9f26c57047e57d0287ab91f",
				        geoLocation: true,
				        onSelect: function(suggestion)
				        {
				            $('#hiddenPostindex').val(suggestion.data.postal_code).change();
				            $('#hiddenCity').val(suggestion.data.city?suggestion.data.city:suggestion.data.region).change();
				            $('#hiddenRegion').val(suggestion.data.region).change();
				        }
				    });
				</script>
			</div>
		</div>
		{/if}
			
		{if $item.htmltype eq 'combostore'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<select class="form-control" name="{$item.name}" id="{$item.htmltype}{$item.name|capitalize}">
				{foreach from=$GLOBS[$item.name] item=field_item key=field_item_key}
					<option value="{$field_item_key}" {if $order_fields[$item.name]['value'] eq $field_item_key}selected{/if}>{$field_item}</option>
				{/foreach}
				</select>
				{if $order_fields[$item.name]['error']}<p class="help-inline">Обязательно для заполнения</p>{/if}
				{if $item.description}<p class="help-block">{$item.description}</p>{/if}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'textarea'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<textarea class="form-control" name="{$item.name}" cols=30 wrap="wrap" id="{$item.htmltype}{$item.name|capitalize}" placeholder="{$item.description}">{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}</textarea>
				{if $order_fields[$item.name]['error']}<p class="help-block">Обязательно для заполнения</p>{/if}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'checkbox'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="checkbox{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
	            {if $item.description}<p class="help-block"><label><input type="checkbox" id="checkbox{$item.name|capitalize}" name="{$item.name}" value="1" {if $item.value}checked{/if} /> {$item.description}</label></p>{else}
	            <input type="checkbox" id="checkbox{$item.name|capitalize}" name="{$item.name}" value="1" {if $item.value}checked{/if} />
	            {/if}
				{if $item.error}<span class="help-block">{$reg_errors[$item.checked]}</span>{/if}
			</div>
		</div>
		{/if}
		{if $item.htmltype eq 'delivery' && sizeof($delivery)>0}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="select{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<select class="form-control" name="delivery" id="select{$item.name|capitalize}">
					{foreach from=$delivery item=delivery_item key=delivery_key}
					<option value="{$delivery_key}"
							{if $GLOBS.delivery[$delivery_item.name]}data-value="{$delivery_item.name}"{/if}
							data-total-from="{$delivery_item.total_from|default:0}"
							data-total-to="{$delivery_item.total_to|default:0}"
							data-price="{$delivery_item.price|default:0}"
							{if $delivery_item.disabled} disabled {/if}>
			
							{if $GLOBS.delivery[$delivery_item.name]}
								{$GLOBS.delivery[$delivery_item.name]}
							{else}
								{$delivery_item.name}
								{if $delivery_item.price}( {$delivery_item.price|price:false} {numeral number=$delivery_item.price|price:false ends=$GLOBS.currency.name}){/if}
							{/if}
						</option>
					{/foreach}
				</select>
				{if $order_fields[$item.name]['error']}<span class="help-block">Обязательно для заполнения</span>{/if}
				<p class="help-block alert hide" id="deliveryPrice"></p>
				{if $item.description}<p class="help-block">{$item.description}</p>{/if}
			</div>
		</div>
		{/if}
	{/if}
	{/if}
	{/foreach}
	{if $GLOBS.merchants}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="checkboxMerchants">Способ оплаты <sup style="color:red;">!</sup></label>
			<div class="col-sm-9">
				<select class="form-control" name="pay_method" id="checkboxMerchants">
				{if $GLOBS.merchants['cash']}{include file="$TMPL_FOLDER/mod/basket/merchants/cash.html" type='option'}{/if}
				{if $GLOBS.merchants['intellectmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/intellectmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['invoice']}{include file="$TMPL_FOLDER/mod/basket/merchants/invoice.html" type='option'}{/if}
				{if $GLOBS.merchants['kupivkredit']}{include file="$TMPL_FOLDER/mod/basket/merchants/kupivkredit.html" type='option'}{/if}
				{if $GLOBS.merchants['liqpay']}{include file="$TMPL_FOLDER/mod/basket/merchants/liqpay.html" type='option'}{/if}
				{if $GLOBS.merchants['paypal']}{include file="$TMPL_FOLDER/mod/basket/merchants/paypal.html" type='option'}{/if}
				{if $GLOBS.merchants['payu']}{include file="$TMPL_FOLDER/mod/basket/merchants/payu.html" type='option'}{/if}
				{if $GLOBS.merchants['points']}{include file="$TMPL_FOLDER/mod/basket/merchants/points.html" type='option'}{/if}
				{if $GLOBS.merchants['privat24']}{include file="$TMPL_FOLDER/mod/basket/merchants/privat24.html" type='option'}{/if}
				{if $GLOBS.merchants['qiwi']}{include file="$TMPL_FOLDER/mod/basket/merchants/qiwi.html" type='option'}{/if}
				{if $GLOBS.merchants['rbkmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/rbkmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['robokassa']}{include file="$TMPL_FOLDER/mod/basket/merchants/robokassa.html" type='option'}{/if}
				{if $GLOBS.merchants['testmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/testmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['walletone']}{include file="$TMPL_FOLDER/mod/basket/merchants/walletone.html" type='option'}{/if}
				{if $GLOBS.merchants['webmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/webmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['yandexmoney_ur']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney_ur.html" type='option'}{/if}
				{if $GLOBS.merchants['yandexmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['zpayment']}{include file="$TMPL_FOLDER/mod/basket/merchants/zpayment.html" type='option'}{/if}
				</select>
			</div>
		</div>
		{/if}
	</fieldset>
	<p align="center"><button type="submit" class="btn btn-primary">Оформить заказ</button></p>
	<input name="tmpl" type="hidden" value="abs-order" />
	<input name="antispam" type="hidden" value="{$smarty.now}" />
	<input name="orderflag" type="hidden" value="1" />
	<script>
	$(document).ready(function(){
		$('.order-form').on('submit', function()
		{
			var me = $(this);			
			me.Mask( { color : 'white' } );

			//has-error
			$.ajax({
				type	: me.attr('method') || 'POST',
				dataType: 'json',
				cache	: false,
				url		: me.attr('action'),
				data	: me.serialize(),
				success : function( result )
				{
					if ( result.success )
					{
						if( result.total == "0р." )
						{
							me.Mask('destroy').html( '<p class="h3 text-center">Ошибка<br />Заполнены не все обязательные поля.<br />Воспользуйтесь <a href="/basket/">корзиной</a>.</p>');
						}
						else
						{
							me.Mask('destroy').html( '<p class="h3 text-center">{$basketextendedfastform_success|default:'Спасибо за заказ!'}.<br />Номер вашего заказа <a href="/basket/?' + result.order_id + '|' + result.order_hash + '" target="_blank">' + result.order_id + '</a>.<br />Сумма заказа ' + result.total + '</p>' );
						}
					}
					else
					{
						$error = $('<p class="h3 text-center">Вы заполнили не все поля</p>').show();
						me.Mask('destroy').prepend($error);
						$error.fadeOut(1200);
					}
					$.basket.loadMini();
				}
			});

			return false;
		});
		$('.order-form [name=phone]').inputmask("{$basketextendedfastform_mask|default:'+7 (000) 000-0000'}");
		$("input[name*=antispam]").val('{$GLOBS.USER_ANTISPAM_KEY}');
	});
	</script>
</form>
{/if}