<form class="form-horizontal" action="/basket/?action=order#order-form" method="post" role="form" id="OrderForm">
	<div class="row">
	<div class="col-md-6">
	<h4>Личные данные</h4>
	{foreach from=$orderfields item=item name=fieldscounter}
	{if $item.editable eq 'true'}
		{if $item.htmltype eq 'datefield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				{assign var=datepicker value=1}
				<input class="form-control datefield" type="text" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]|escape}" placeholder="{$item.description}" data-date-format="dd.mm.yyyy" data-date="01.01.2014" />
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
			</div>
		</div>
		{/if}
			
		{if $item.htmltype eq 'textfield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]|escape}" placeholder="{$item.description}">
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'adresfield'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="{$item.htmltype}{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}" placeholder="{$item.description}">
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
				<link href="https://cdn.jsdelivr.net/jquery.suggestions/16.8/css/suggestions.css" type="text/css" rel="stylesheet" />
				<script type="text/javascript">
				!function ($) {
					$(function(){
					    $("#{$item.htmltype}{$item.name|capitalize}").suggestions({
					        serviceUrl: "https://dadata.ru/api/v2",
					        type: "ADDRESS",
					        token: "b94c274fc11fbd3fa9f26c57047e57d0287ab91f",
					        geoLocation: true,
					        onSelect: function(suggestion)
					        {
					            $('[name=postindex]').val(suggestion.data.postal_code).change();
					            $('#hiddenCity').val(suggestion.data.city?suggestion.data.city:suggestion.data.region).change();
					            $('#hiddenRegion').val(suggestion.data.region).change();
					        }
					    });
					})
				}(window.jQuery)
				</script>
			</div>
		</div>
		{/if}

		{if $item.htmltype eq 'hidden'}
		{if $smarty.cookies[$item.name] || $smarty.session[$item.name]}<input type="hidden" id="hidden{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']|default:$smarty.cookies[$item.name]|default:$smarty.session[$item.name]}" />{else}<input type="hidden" id="hidden{$item.name|capitalize}" name="{$item.name}" value="{$order_fields[$item.name]['value']}" />{/if}
		{/if}

		{if $item.htmltype eq 'combostore'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<select class="form-control" name="{$item.name}" id="select{$item.name|capitalize}">
				{foreach from=$GLOBS[$item.name] item=field_item key=field_item_key}
					<option value="{$field_item_key}" {if $order_fields[$item.name]['value'] eq $field_item_key}selected{/if}>{$field_item}</option>
				{/foreach}
				</select>
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
				{if $item.description}<p class="help-block">{$item.description}</p>{/if}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'textarea'}
		<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
			<label class="control-label col-sm-3" for="{$item.htmltype}{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
			<div class="col-sm-9">
				<textarea class="form-control" name="{$item.name}" cols=30 wrap="wrap" id="{$item.htmltype}{$item.name|capitalize}" placeholder="{$item.description}">{$order_fields[$item.name]['value']|default:$GLOBS.userdata[$item.name]}</textarea>
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
			</div>
		</div>
		{/if}
		
		{if $item.htmltype eq 'checkbox'}
			{if $item.name neq 'agreement'}
				<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
					<div class="form-group {if $item.error} has-error{/if}">
						<div class="col-sm-offset-3 col-sm-9">
				            {if $item.description}
				            <p class="help-block">
					        	<label><input type="checkbox" id="checkbox{$item.name|capitalize}" name="{$item.name}" value="1" {if $item.value}checked{/if} /> {$item.description}</label>
							</p>
				            {else}
				            <input type="checkbox" id="checkbox{$item.name|capitalize}" name="{$item.name}" value="1" {if $item.value}checked{/if} />
				            <label for="checkbox{$item.name|capitalize}">{$item.runame}{if $item.necessary eq 'true'} <sup style="color:red;">!</sup> {/if}</label>
				            {/if}
							{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
						</div>
					</div>
				</div>
			{else}
				<div class="form-group {if $order_fields[$item.name]['error']} has-error{/if}">
					<div class="col-sm-9 col-md-offset-3">
		            	<p class="checkbox">
		            		<label>
		            			<input type="checkbox" id="checkbox{$item.name|capitalize}" name="{$item.name}" value="1" {if $order_fields[$item.name]['value']}checked{/if} />
		            			Нажимая на кнопку, вы даете <a href="/politika_konfidentsialnosti">согласие на обработку своих персональных данных</a> <sup style="color:red;">!</sup>
		            		</label>
		            	</p>
						{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields[$item.name]['error']}
					</div>
				</div>
			{/if}
		{/if}
	{/if}
	{/foreach}
	{if $GLOBS.group_id eq 2}
		<div class="form-group alert alert-info">
			<label class="control-label col-sm-3" for="visitorTrackCode">Код посетителя</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="visitorTrackCode" name="visitor_track_code" value="{$visitorstracker_data.code}">
			</div>
		</div>
	{/if}
	</div>
	<div class="col-md-6">
		{if $GLOBS.deliveries}
		<div class="row {if $order_fields['delivery']['error']} has-error{/if}">
			<div class="col-md-12">
				<p class="h4">Тип доставки</p>
			</div>
			<div class="col-sm-offset-3 col-md-offset-0 col-md-12 col-sm-9">
			{foreach from=$orderfields item=item name=fieldscounter}
			{if $item.editable eq 'true'}
				{if $item.htmltype eq 'delivery' && sizeof($delivery)>0}
				<div class="{if $order_fields['delivery']['error']} has-error{/if}">
					<select class="form-control" name="delivery" id="select{$item.name|capitalize}">
						<option value="">Выберите тип доставки</option>
						{foreach from=$GLOBS.deliveries item=delivery_item key=delivery_key}
						<option value="{$delivery_key}"
								data-value="{$delivery_item.name}"
								data-total-from="{$delivery_item.total_from|default:0}"
								data-total-to="{$delivery_item.total_to|default:0}"
								data-price="{$delivery_item.price|default:0}"
								data-weight="{$delivery_item.weight|default:0}"
								{if $delivery_item.disabled} disabled {/if}
								{if ($order_fields['delivery']['value'] eq $delivery_key) || (sizeof($delivery) eq 1)}selected="selected"{/if}>
								{if $GLOBS.delivery[$delivery_item.name]}
									{$GLOBS.delivery[$delivery_item.name]}
									{if $delivery_item.price}({$delivery_item.price|price:false} {numeral number=$delivery_item.price|price:false ends=$GLOBS.currency.name} {if $delivery_item.weight} за {$delivery_item.weight}кг{/if}){/if}
								{else}
									{$delivery_item.name}
									{if $delivery_item.price}({$delivery_item.price|price:false} {numeral number=$delivery_item.price|price:false ends=$GLOBS.currency.name} {if $delivery_item.weight} за {$delivery_item.weight}кг{/if}){/if}
								{/if}
							</option>
						{/foreach}
					</select>
					{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields['delivery']['error']}
					<p class="help-block alert hide" id="deliveryPrice"></p>
					{if $item.description}<p class="help-block">{$item.description}</p>{/if}
				</div>
				{/if}
			{/if}
			{/foreach}
			</div>
		</div>
		{/if}
		{if $GLOBS.merchants}		
		<div class="row {if $order_fields['pay_method']['error']} has-error{/if}">
			<div class="col-md-12">
				<p class="h4">Способ оплаты</p>
				{include file="$TMPL_FOLDER/mod/basket/order-form-errors.html" error=$order_fields['pay_method']['error']}
			</div>
			<div class="col-sm-offset-3 col-md-offset-0 col-md-12 col-sm-9">
			{if count($GLOBS.merchants)<10}
				{if $GLOBS.merchants['cash']}{include file="$TMPL_FOLDER/mod/basket/merchants/cash.html" type='radio'}{/if}
				{if $GLOBS.merchants['bcard']}{include file="$TMPL_FOLDER/mod/basket/merchants/bcard.html" type='radio'}{/if}
				{if $GLOBS.merchants['invoice']}{include file="$TMPL_FOLDER/mod/basket/merchants/invoice.html" type='radio'}{/if}
				{if $GLOBS.merchants['kupivkredit']}{include file="$TMPL_FOLDER/mod/basket/merchants/kupivkredit.html" type='radio'}{/if}
				{if $GLOBS.merchants['liqpay']}{include file="$TMPL_FOLDER/mod/basket/merchants/liqpay.html" type='radio'}{/if}
				{if $GLOBS.merchants['paypal']}{include file="$TMPL_FOLDER/mod/basket/merchants/paypal.html" type='radio'}{/if}
				{if $GLOBS.merchants['payu']}{include file="$TMPL_FOLDER/mod/basket/merchants/payu.html" type='radio'}{/if}
				{if $GLOBS.merchants['points']}{include file="$TMPL_FOLDER/mod/basket/merchants/points.html" type='radio'}{/if}
				{if $GLOBS.merchants['privat24']}{include file="$TMPL_FOLDER/mod/basket/merchants/privat24.html" type='radio'}{/if}
				{if $GLOBS.merchants['qiwi']}{include file="$TMPL_FOLDER/mod/basket/merchants/qiwi.html" type='radio'}{/if}
				{if $GLOBS.merchants['rbkmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/rbkmoney.html" type='radio'}{/if}
				{if $GLOBS.merchants['rfi']}{include file="$TMPL_FOLDER/mod/basket/merchants/rfi.html" type='radio'}{/if}
				{if $GLOBS.merchants['robokassa']}{include file="$TMPL_FOLDER/mod/basket/merchants/robokassa.html" type='radio'}{/if}
				{if $GLOBS.merchants['testmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/testmoney.html" type='radio'}{/if}
				{if $GLOBS.merchants['walletone']}{include file="$TMPL_FOLDER/mod/basket/merchants/walletone.html" type='radio'}{/if}
				{if $GLOBS.merchants['webmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/webmoney.html" type='radio'}{/if}
				{if $GLOBS.merchants['yandexmoney_ur']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney_ur.html" type='radio'}{/if}
				{if $GLOBS.merchants['yandexmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney.html" type='radio'}{/if}
				{if $GLOBS.merchants['zpayment']}{include file="$TMPL_FOLDER/mod/basket/merchants/zpayment.html" type='radio'}{/if}
				{if $GLOBS.merchants['intellectmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/intellectmoney.html" type='radio'}{/if}
			{else}
				<select class="form-control" name="pay_method">
				{if $GLOBS.merchants['cash']}{include file="$TMPL_FOLDER/mod/basket/merchants/cash.html" type='option'}{/if}
				{if $GLOBS.merchants['bcard']}{include file="$TMPL_FOLDER/mod/basket/merchants/bcard.html" type='option'}{/if}
				{if $GLOBS.merchants['intellectmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/intellectmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['invoice']}{include file="$TMPL_FOLDER/mod/basket/merchants/invoice.html" type='option'}{/if}
				{if $GLOBS.merchants['kupivkredit']}{include file="$TMPL_FOLDER/mod/basket/merchants/kupivkredit.html" type='option'}{/if}
				{if $GLOBS.merchants['liqpay']}{include file="$TMPL_FOLDER/mod/basket/merchants/liqpay.html" type='option'}{/if}
				{if $GLOBS.merchants['paypal']}{include file="$TMPL_FOLDER/mod/basket/merchants/paypal.html" type='option'}{/if}
				{if $GLOBS.merchants['payu']}{include file="$TMPL_FOLDER/mod/basket/merchants/payu.html" type='option'}{/if}
				{if $GLOBS.merchants['points']}{include file="$TMPL_FOLDER/mod/basket/merchants/points.html" type='option'}{/if}
				{if $GLOBS.merchants['privat24']}{include file="$TMPL_FOLDER/mod/basket/merchants/privat24.html" type='option'}{/if}
				{if $GLOBS.merchants['qiwi']}{include file="$TMPL_FOLDER/mod/basket/merchants/qiwi.html" type='option'}{/if}
				{if $GLOBS.merchants['rbkmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/rbkmoney.html" type='radio'}{/if}
				{if $GLOBS.merchants['rfi']}{include file="$TMPL_FOLDER/mod/basket/merchants/rfi.html" type='option'}{/if}
				{if $GLOBS.merchants['robokassa']}{include file="$TMPL_FOLDER/mod/basket/merchants/robokassa.html" type='option'}{/if}
				{if $GLOBS.merchants['testmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/testmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['walletone']}{include file="$TMPL_FOLDER/mod/basket/merchants/walletone.html" type='option'}{/if}
				{if $GLOBS.merchants['webmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/webmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['yandexmoney_ur']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney_ur.html" type='option'}{/if}
				{if $GLOBS.merchants['yandexmoney']}{include file="$TMPL_FOLDER/mod/basket/merchants/yandexmoney.html" type='option'}{/if}
				{if $GLOBS.merchants['zpayment']}{include file="$TMPL_FOLDER/mod/basket/merchants/zpayment.html" type='option'}{/if}
				</select>
			{/if}
				
			</div>
		</div>
		{/if}
	</div>
	
	</div>

  	<input name="antispam" type="hidden" value="{$smarty.now}" />
  	<input name="orderflag" type="hidden" value="1" />
  	<input name="order_id" type="hidden" value="{$order_id}" />

	<div class="form-actions">
		{if $orderwelcome}<span class="help-inline">{$orderwelcome}</span>{/if}
		<button type="submit" class="btn-submit">Подтвердить заказ</button>
	</div>
	<script>var eShopPostIndex = '{$postindex}'; $(document).ready(function(){ $("input[name*=antispam]").val('{$GLOBS.USER_ANTISPAM_KEY}'); });</script>
</form>
{if $datepicker}
<link rel="stylesheet" type="text/css" href="/media0/css/datepicker.css" media="screen" />
<script type="text/javascript" src="/media0/js/bootstrap-datepicker.js"></script>
<script>$(document).ready(function(){ $('.datefield').datepicker(); });</script>
{/if}