<form class="order-form well" action="/basket/?action=order" method="post" role="form">
	{if $basketextendedfastform_hello}<p class="h3">{$basketextendedfastform_hello}</p>{/if}
	<div class="input-group"><input type="phone" name="phone" value="{$GLOBS.userdata[$item.name]}" data-mask="{$basketextendedfastform_mask|default:'+7 (000) 000-0000'}" placeholder="{$basketextendedfastform_placeholder|default:'+7 495 1234567'}" data-mask-reverse="true" class="form-control" required="true" /><span class="input-group-btn"><button type="submit" class="btn-buyoneclick"><span class="glyphicon glyphicon-shopping-cart"></span> {$basketextendedfastform_button|default:'Заказать'}</button></span></div>
	
	<input name="tmpl" type="hidden" value="abs-order" />
	<input name="antispam" type="hidden" value="{$smarty.now}" />
	<input name="pay_method" type="hidden" value="CASH" />
	<input name="orderflag" type="hidden" value="1" />
	<script>
	$(document).ready(function(){
		$('.order-form').on('submit', function()
		{
			var me = $(this);
			
			if(me.data('product') == 'ADDED') return true;
			if(me.data('product') == 'ADDING') return false;
			
			me.Mask( { color : 'white' } );

			//has-error
			var phone = me.find('[name=phone]').val();
			if( phone.length > 3 )
			{
				me.data('product', 'ADDING');

				$.basket.onsubmit( $('.basket-form') , 'abs', '#absbasket-box .modal-body', function(html)
				{
					me.data('product', 'ADDED');
					$.ajax({
						type	: me.attr('method') || 'POST',
						dataType: 'json',
						cache	: false,
						url		: me.attr('action'),
						data	: me.serialize(),
						success : function( result )
						{
							if ( result.success )
							{
								if( result.total == "0р." )
								{
									me.Mask('destroy').html( '<p class="h3 text-center">Ошибка<br />Заполнены не все обязательные поля.<br />Воспользуйтесь <a href="/basket/">корзиной</a>.</p>');
								}
								else
								{
									me.Mask('destroy').html( '<p class="h3 text-center">{$basketextendedfastform_success|default:'Спасибо за заказ!'}.<br />Номер вашего заказа <a href="/basket/?' + result.order_id + '|' + result.order_hash + '" target="_blank">' + result.order_id + '</a>.<br />Сумма заказа ' + result.total + '</p>' );
								}
							}
							else
							{
								me.Mask('destroy').html( '<p class="h3 text-center">Ошибка, воспользуйтесь корзиной.</p>');
							}
							$.basket.loadMini();
							me.data('product', '');
						}
					});
				});
				return false;
			}
			else
			{				
				me.Mask('notify', '<p align=center>Укажите верный номер телефона</p>');
			}
			return false;
		});
		$('.order-form [name=phone]').inputmask("{$basketextendedfastform_mask|default:'+7 (000) 000-0000'}");
		$("input[name*=antispam]").val('{$GLOBS.USER_ANTISPAM_KEY}');
	});
	</script>
</form>