<form method="post" accept-charset="UTF-8" action="/cabinet/pay.html?provider=bcard" class="payment-form">
	<input type="hidden" name="order_id" value="{$order_id}" />
	<input type="hidden" name="order_hash" value="{$order_hash}" />
	<input type="hidden" name="r" value="{$vpath}" />
	<button type="submit" name="submit-button" class="btn btn-simple" title="{$GLOBS.merchants.bcard.btn|default:'Оплатить картой при получении'}" rel="tooltip"><img src="/media0/img/merchants/VisaMasterYandex.png" alt="Visa и MasterCard" width="150" /></button>
</form>