<div style="display:none;">
{assign var=return_url value=$order_id|return_url:$order_hash}

{rbkmoney 
	api_token=$GLOBS.merchants.rbkmoney.secretKey 
	shop_id=$GLOBS.merchants.rbkmoney.eshopId 
	order_id=$order_id 
	summ=$summ 
	order_hash=$order_hash
	service_name=$GLOBS.merchants.rbkmoney.serviceName|default:'Оплата заказа №'
	return_url=$return_url
}
</div>
<div class="payment-form">
	<button type=submit class="btn btn-simple" onclick="document.getElementById('rbkmoney-button').click();return false;" title="{$GLOBS.merchants.rbkmoney.btn|default:'Оплатить через Webmoney'}" rel="tooltip"><img src="/media0/img/merchants/RBKMoney.png" alt="RBKMoney" width="150" /></button>
</div>
