{if $GLOBS.currency.code neq 'RUR' && $GLOBS.currency.code neq 'RUB'}
	{assign var=summ value=ceil($summ/$GLOBS.allcurrencies.RUB.course)}
{/if}

{assign var=payment_method value="yandex_money"}
{assign var=return_url value=$order_id|return_url:$order_hash}

<div class="payment-form">
	<a href="{yandexmoney_ur items=$basketdata delivery_price=$order_content.delivery_price check=$GLOBS.merchants.yandexmoney_ur.check email=$order_content.email phone=$order_content.phone|clear_phone shop_id=$GLOBS.merchants.yandexmoney_ur.shop_id secret=$GLOBS.merchants.yandexmoney_ur.secret order_id=$order_id summ=$summ order_hash=$order_hash service_name=$GLOBS.merchants.yandexmoney_ur.serviceName|default:'Оплата заказа №' payment_method=$payment_method return_url=$return_url}" 
		class='btn btn-simple' 
		title='Оплата заказа Яндекс.Деньгами со своего счета' 
		rel='tooltip'>
		
		<img src='/media0/img/merchants/yandexmoney_ur/{$payment_method}.png' width='150' alt='{$payment_method}' />
	</a>
</div>