{if $type eq 'radio'}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="BCARD" {if $order_fields['pay_method']['value'] eq 'BCARD'}checked {/if} /> {$GLOBS.merchants.bcard.btn|default:'Оплатить картой при получении'}
		<p class="help-block">Оплата заказа банковской картой при получении на почте или от курьера.</p>
	</label>
</div>
{/if}
{if $type eq 'option'}
<option value="BCARD" {if $order_fields['pay_method']['value'] eq 'BCARD'}selected {/if}>{$GLOBS.merchants.BCARD.btn|default:'Оплатить картой при получении'}</option>
{/if}