{if $type eq 'radio'}
{if $GLOBS.userdata.points < $GLOBS.merchants.points.min}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="POINTS" disabled="disabled" {if $order_fields['pay_method']['value'] eq 'POINTS" disabled="disabled'}checked {/if} /> Оплатить часть заказа баллами
		{if $GLOBS.user_id eq 6}<p class="help-block">Минимальная сумма оплаты {$GLOBS.merchants.points.min} {numeral number=$GLOBS.merchants.points.min ends="бонус, бонуса, бонусов"}. Чтобы получить бонусные баллы и использовать для покупок в магазине <a  href="/cabinet/?tmpl=short&amp;r={$vpath|escape:url}" rel="nofollow" data-toggle="modal" data-target="#login-box">зарегиструйтесь или войдите</a> под своим аккаунтом.</p>{else}<p class="help-block">Минимальная сумма оплаты {$GLOBS.merchants.points.min} {numeral number=$GLOBS.merchants.points.min ends="бонус, бонуса, бонусов"}. У вас {$GLOBS.userdata.points|default:'нет'} бонусных баллов.</p>{/if}
	</label>
</div>
{else}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="POINTS" {if $order_fields['pay_method']['value'] eq 'POINTS'}checked {/if} /> Оплатить часть заказа баллами
		<p class="help-block">У вас {$GLOBS.userdata.points|price:false|default:'нет'} {numeral number=$GLOBS.userdata.points ends="бонусный балл, бонусных балла, бонусных баллов"}. {if $GLOBS.merchants.points.max}Максимальная сумма списания {$GLOBS.merchants.points.max}% от стоимости заказа.{/if}</p>
	</label>
</div>
{/if}
{/if}
{if $type eq 'option'}
{if $GLOBS.userdata.points >= $GLOBS.merchants.points.min}
<option value="POINTS" {if $order_fields['pay_method']['value'] eq 'POINTS'}selected {/if}>{$GLOBS.merchants.points.btn|default:'Оплатить баллами'}, у вас {$GLOBS.userdata.points|default:'нет'}{if $GLOBS.merchants.points.max}. Максимальная сумма {$GLOBS.merchants.points.max}% от стоимости заказа.{/if}</option>
{/if}
{/if}