{if $type eq 'radio'}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="RFI" {if $order_fields['pay_method']['value'] eq 'RFI'}checked {/if} /> {$GLOBS.merchants.rfi.btn|default:'Оплатить через RFIBank'}
		<p class="help-block">Оплата через сервис RFIBank. Пластиковые карты, WebMoney, Яндекс.Деньги и другие способы оплаты.</p>
	</label>
</div>
{/if}
{if $type eq 'option'}
<option value="RFI" {if $order_fields['pay_method']['value'] eq 'RFI'}selected {/if}>{$GLOBS.merchants.rfi.btn|default:'Оплатить через RFIBank'}</option>
{/if}