{if $type eq 'radio'}

{if $GLOBS.merchants.yandexmoney_ur['bank_card']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_BANK_CARD" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_BANK_CARD'}checked {/if} /> Банковская карта
		<p class="help-block">Оплата заказа картой Visa (включая Electron), MasterCard или Maestro.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['yandex_money']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_YANDEX_MONEY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_YANDEX_MONEY'}checked {/if} /> {$GLOBS.merchants.yandexmoney.btn|default:'Яндекс.Деньги'}
		<p class="help-block">Оплата заказа Яндекс.Деньгами со своего счета.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['sberbank']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_SBERBANK" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_SBERBANK'}checked {/if} /> Через Сбербанк Онлайн
		<p class="help-block">Необходим номер телефона, подключенный к сервису «Мобильный банк»</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['webmoney']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_WEBMONEY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_WEBMONEY'}checked {/if} /> WebMoney
		<p class="help-block">Оплата заказа из кошелька популярной системы международных расчетов WebMoney.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['alfabank']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_ALFABANK" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_ALFABANK'}checked {/if} /> Через Альфа-Клик
		<p class="help-block">Оплата заказа через платеж на сайте интернет-банка Альфа-Клик, потребуются логин для выставления счета.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['mobile_balance']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_MOBILE_BALANCE" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_MOBILE_BALANCE'}checked {/if} /> Со счета мобильного телефона
		<p class="help-block">Оплата заказа с баланса мобильного номера Билайн, МегаФон, МТС, TELE2 или Ростелеком.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['qiwi']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_QIWI" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_QIWI'}checked {/if} />QIWI Wallet
		<p class="help-block">Оплата заказа из кошелька системы QIWI Wallet.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['cash']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_CASH" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_CASH'}checked {/if} /> Наличными через кассы и терминалы
		<p class="help-block">Оплата заказа через терминалы и кассы салонов связи — более 170 тысяч пунктов.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['apple_pay']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_APPLE_PAY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_APPLE_PAY'}checked {/if} /> Через Apple Pay
		<p class="help-block">Оплата заказа через криптограмму Apple Pay.</p>
	</label>
</div>
{/if}

{if $GLOBS.merchants.yandexmoney_ur['installments']}
<div class="radio">
	<label>
		<input type="radio" name="pay_method" value="YANDEXKASSA_INSTALLMENTS" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_INSTALLMENTS'}checked {/if} /> Через сервис «Заплатить по частям»
		<p class="help-block">Оплата заказа через сервис «Заплатить по частям» (в кредит или рассрочку).</p>
	</label>
</div>
{/if}

{/if}

{if $type eq 'option'}

{if $GLOBS.merchants.yandexmoney_ur['yandex_money']}<option value="YANDEXKASSA_YANDEX_MONEY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_YANDEX_MONEY'}selected {/if}>{$GLOBS.merchants.yandexmoney.btn|default:'Яндекс.Деньги'}</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['bank_card']}<option value="YANDEXKASSA_BANK_CARD" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_BANK_CARD'}selected {/if}>Банковской картой Visa (включая Electron), MasterCard или Maestro</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['sberbank']}<option value="YANDEXKASSA_SBERBANK" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_SBERBANK'}selected {/if}>Через Сбербанк Онлайн</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['webmoney']}<option value="YANDEXKASSA_WEBMONEY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_WEBMONEY'}selected {/if}>WebMoney</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['alfabank']}<option value="YANDEXKASSA_ALFABANK" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_ALFABANK'}selected {/if}>Через Альфа-Клик</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['mobile_balance']}<option value="YANDEXKASSA_MOBILE_BALANCE" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_MOBILE_BALANCE'}selected {/if}>С баланса мобильного номера Билайн, МегаФон, МТС, TELE2 или Ростелеком</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['qiwi']}<option value="YANDEXKASSA_QIWI" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_QIWI'}selected {/if}>QIWI Wallet</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['cash']}<option value="YANDEXKASSA_CASH" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_CASH'}selected {/if}>Наличными через кассы и терминалы</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['apple_pay']}<option value="YANDEXKASSA_APPLE_PAY" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_APPLE_PAY'}selected {/if}>Через Apple Pay</option>{/if}

{if $GLOBS.merchants.yandexmoney_ur['installments']}<option value="YANDEXKASSA_INSTALLMENTS" {if $order_fields['pay_method']['value'] eq 'YANDEXKASSA_INSTALLMENTS'}selected {/if}>Через сервис «Заплатить по частям»</option>{/if}

{/if}