{combinejs input=array("/media0/js/jquery.cookie.js", "/libs/js/bootstrap.js", '/libs/js/jquery.lazyload.js',  '/libs/js/fn.bookmarks.js', "/libs/js/fn.mask.2.js", "/libs/js/jquery.cart.2.js", "/libs/js/fn.sticky.js", "/libs/js/fn.inputmask.js", "/media0/js/jquery.form.js", "/libs/js/fn.expandarea.js", "/media0/js/jquery.comments.js", "/media0/js/jquery.validator.js", "/media0/js/jquery.fancybox.pack.js", "/libs/js/jquery.elevatezoom.js", "/libs/js/ContactForm.js", '/libs/js/product.js','/libs/js/fn.orderform.js', '/media0/js/svg.min.js', '/media0/js/svg.panzoom.min.js', '/media0/js/polydraw.js', "/libs/js/application.js" ) output='alboms/all.js' age='31' debug=1}

<!--[if lt IE 10]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/16.8/js/jquery.suggestions.min.js"></script>
<script type="text/javascript">
$('#BasketMagicLinkForm').ContactForm(
	{
		ok : 'Выслана на емейл',
		color : 'white',
		callback : function()
		{
			$('#BasketMagicLinkForm').append('<h4 align="center" class="well">На указанный адрес отправлена ссылка на корзину</h4>');
			$('#BasketMagicLinkForm').css('min-height', '0px');
			setTimeout( function(){ $('#BasketMagicLink').modal('hide'); }, 1500 );
			
		}
	}
);
</script>
{if $GLOBS.user_id eq 3}{combinejs input=array("/libs/ace/ace.js", "/libs/ace/ext-language_tools.js", '/libs/ace/ext-emmet.js', '/libs/ace/mode-javascript.js', "/libs/ace/snippets/javascript.js", "/libs/ace/worker-javascript.js", "/libs/ace/mode-css.js", "/libs/ace/snippets/css.js", "/libs/ace/worker-css.js", "/libs/js/design-ui.js") output='alboms/design-ui.js' age='31' debug=1}{/if}